.u-section-1 .u-sheet-1 {
  min-height: 286px;
}

.u-section-1 .u-text-1 {
  margin: 63px 830px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 21px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 156px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 14px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 1px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 630px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 410px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 230px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 7px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-right: 30px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 134px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 372px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -121px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 835px;
}

.u-section-2 .u-text-1 {
  margin: 43px auto 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  width: 245px;
  height: 281px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 562px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 17px 17px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 787px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 416px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 46px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 257px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 372px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 195px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 117px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 343px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 288px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 2px;
    margin-right: 193px;
    margin-left: 2px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 34px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 292px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 421px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 775px;
}

.u-section-3 .u-text-1 {
  margin: 50px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 38px 0 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  margin-top: 18px;
  margin-bottom: 30px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 120px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-3 .u-image-1 {
  width: 246px;
  height: 273px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  margin: 16px 16px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 24px 0;
}

.u-section-3 .u-image-2 {
  width: 246px;
  height: 273px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 16px 16px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 24px 0;
}

.u-section-3 .u-image-3 {
  width: 246px;
  height: 273px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 16px 16px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 24px 0;
}

.u-section-3 .u-image-4 {
  width: 246px;
  height: 273px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 16px 16px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 365px;
  }

  .u-section-3 .u-image-1 {
    width: 230px;
    height: 255px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 230px;
    height: 255px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 230px;
    height: 255px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 230px;
    height: 255px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1118px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 332px;
  }

  .u-section-3 .u-image-2 {
    width: 300px;
    height: 332px;
  }

  .u-section-3 .u-image-3 {
    width: 300px;
    height: 332px;
  }

  .u-section-3 .u-image-4 {
    width: 300px;
    height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2178px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1815px;
  }

  .u-section-3 .u-image-1 {
    height: 331px;
  }

  .u-section-3 .u-image-2 {
    height: 331px;
  }

  .u-section-3 .u-image-3 {
    height: 331px;
  }

  .u-section-3 .u-image-4 {
    height: 331px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2124px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 32px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 84px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1706px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    margin-right: 40px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    margin-right: 40px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-3 {
    margin-right: 40px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 13px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-4 {
    margin-right: 40px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 13px;
  }
}